@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

body,
h1,
h2 {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: fit-content;
}

.title-box {
  text-align: right;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 8px;
}

.name-text {
  font-size: 15px;
  color: #7c7c7c;
  font-weight: bold;
  margin-bottom: 40px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  color: #282828;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 16px;
  padding-bottom: 5px;
}

.about-me-text {
  font-size: 10px;
  line-height: 10px;
}

.mainbox {
  width: 610px;
  padding: 30px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px double #ebebeb;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 24px;
}

.title-text {
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: left;
}

.year-text {
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: right;
}

footer {
  text-align: center;
  background-color: #1e1e1e;
  padding: 14px;
  color: #919191;
  font-size: 12px;
}

.float-wrap {
  overflow: hidden;
}

.desc-text {
  font-size: 9px;
}

.desc-subtext {
  font-size: 9px;
  color: #282828;
  padding-left: 14px;
}

.sns-wrap {
  text-align: right;
}

.sns-img {
  width: 15px;
  height: 15px;
}
